* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btnGray {
  font-size: 1rem;
  background-color: #4a4a4a;
  color: #fff;
}

.btnGray:hover {
  color: #fff;
}

.btnRed {
  font-size: 1rem;
  background-color: #fb4226;
  color: #fff;
  margin-top: 10px;
}

.btnRed:hover {
  color: #fff;
}

.warningLabel {
  font-size: 0.9rem;
  background-color: #fb4226;
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 5px;
}

.warningLabel.greenLabel {
  background-color: #00ac4d;
}

.dropdownComp-title {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.dropdownComp-title:hover {
  background-color: #fff;
  color: #000;
}

.dropdownComp {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
}

.dropdownComp p {
  margin-bottom: 0;
}

.dropdownComp .date {
  font-size: 0.6rem;
  font-weight: 400;
  color: #4a4a4a;
}

.dropdownComp:hover {
  background-color: #60c5ef;
  color: #fff;
}

.movieCard {
  cursor: pointer;
}

.movieCard .movieTrailer {
  position: relative;
}

.movieCard .movieTrailer .bg-linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  display: none;
}

.movieCard .movieTrailer .btnPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: none;
}

.movieCard .movieTrailer .btnPlay .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.movieCard .movieTrailer .reviewLabel {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(31, 46, 70, 0.8);
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: center;
}

.movieCard .movieTrailer .reviewLabel .score {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}

.movieCard .movieTrailer .reviewLabel .stars {
  font-size: 0.5rem;
  font-weight: 400;
  color: #fb4226;
}

.movieCard .movieTrailer .reviewLabel .stars .fa-star {
  font-size: 0.5rem;
  letter-spacing: -2px;
}

.movieCard .title {
  margin-top: 8px;
  padding-top: 8px;
}

.movieCard .title .movieTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 0;
}

.movieCard .title .minutes {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4a4a4a;
  padding-top: 8px;
}

.movieCard .btnRed {
  display: none;
}

.movieCard:hover .title {
  display: none;
}

.movieCard:hover .btnRed {
  display: block;
}

.movieCard:hover .btnPlay {
  display: block;
}

.movieCard:hover .btnPlay:hover {
  opacity: 0.8;
}

.movieCard:hover .bg-linear {
  display: block;
}

.navbar-nav .nav-item {
  /* .dropdown-menu {
      .dropdown-item {
        font-size: $fs-09;
        &:hover {
          background-color: $clr-cyan;
          color: $clr-white;
        }
      }
    } */
}

.navbar-nav .nav-item .navTop {
  font-size: 0.9rem;
  color: #000;
}

.navbar-nav .nav-item .navTop:hover {
  color: #fb4226;
}

.navbar-nav .nav-item .login {
  border-right: 1px solid #e4e4e4;
}

.navbar-nav .nav-item .login:focus {
  outline: none;
}

.carousel {
  position: relative;
}

.chevrons .btnPrev {
  position: absolute;
  top: 50%;
  left: 5%;
}

.chevrons .btnNext {
  position: absolute;
  top: 50%;
  right: 5%;
}

.chevrons div > img {
  width: 50px;
  cursor: pointer;
}

[role="tablist"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-bottom: 80px;
}

[role="tablist"] [role="presentation"] {
  display: block;
  margin: 0 10px;
}

[role="tablist"] [role="presentation"] [role="tab"] {
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  outline: none;
}

[role="tablist"] [role="presentation"] [role="tab"]:focus {
  background-color: #fb4226;
  outline: none;
}

[role="tablist"] [role="presentation"] [role="tab"].active {
  background-color: #fb4226;
}

.selectBar .nav-tabs {
  position: absolute;
  margin: 0 auto;
  margin-bottom: -40px;
  border-bottom: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 20px 20px 50px 10px #e4e4e4;
          box-shadow: 20px 20px 50px 10px #e4e4e4;
}

.selectBar .nav-tabs .borderRight {
  border-right: 1px solid #e4e4e4;
  margin-right: 20px;
}

.selectBar .nav-tabs .borderRight:focus {
  border: none;
  border-right: 1px solid #e4e4e4;
}

.movieLists .movieTabs {
  position: relative;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 75px;
  border-bottom: none;
}

.movieLists .movieContent .showing, .movieLists .movieContent .coming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */