.btnGray{
    @include styleButton($fs-10, $clr-gray-dark, $clr-white);
    &:hover{
        color: $clr-white;
    }
}

.btnRed{
    @include styleButton($fs-10, $clr-red, $clr-white);
    margin-top: 10px;
    &:hover{
        color: $clr-white;
    }
}

.warningLabel{
    @include styleButton($fs-09, $clr-red, $clr-white);
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 5px;
    &.greenLabel{
        background-color: $clr-green; // change color
    }
}
