.dropdownComp-title {
  @include styleText($fs-10, $fw-normal, $clr-black);
  &:hover {
    @include styleTextHover($clr-white, $clr-black);
  }
}

.dropdownComp {
  p{
    margin-bottom: 0;
  }
  .date{
    @include styleText($fs-06, $fw-normal, $clr-gray-dark);
  }
  @include styleText($fs-08, $fw-normal, $clr-black);
  &:hover {
    @include styleTextHover($clr-cyan, $clr-white);
  }
}