@mixin styleText($fs-text, $fw-text, $clr-text) {
  font-size: $fs-text;
  font-weight: $fw-text;
  color: $clr-text;
}

@mixin styleTextHover($bgc-text-hover, $clr-text) {
  background-color: $bgc-text-hover;
  color: $clr-text;
}

@mixin styleButton($fs-btn, $bgc-btn, $clr-btn) {
  font-size: $fs-btn;
  background-color: $bgc-btn;
  color: $clr-btn;
}

@mixin styleLabel() {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(31, 46, 70, 0.8);
}

@mixin styleAbsoluteCentral() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin styleAbsoluteBg() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin styleMovieCard() {
  cursor: pointer;

  .movieTrailer {
    position: relative;
    .bg-linear {
      @include styleAbsoluteBg();
      background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      display: none;
    }
    .btnPlay {
      @include styleAbsoluteCentral();
      width: 50px;
      height: 50px;
      border: 2px solid $clr-white;
      border-radius: 50%;
      display: none;

      .fa-play {
        @include styleAbsoluteCentral();
        text-align: center;
        color: $clr-white;
      }
    }
    .reviewLabel {
      @include styleLabel();
      position: absolute;
      top: 5%;
      right: 5%;
      text-align: center;
      .score {
        @include styleText($fs-10, $fw-bold, $clr-white);
        margin-bottom: 0;
      }
      .stars {
        @include styleText($fs-05, $fw-normal, $clr-red);
        .fa-star {
          font-size: $fs-05;
          letter-spacing: -2px;
        }
      }
    }
  }
  .title {
    margin-top: $sp-08;
    padding-top: $sp-08;
    .movieTitle {
      @include styleText($fs-10, $fw-bold, $clr-gray-dark);
      margin-bottom: 0;
    }
    .minutes {
      @include styleText($fs-08, $fw-normal, $clr-gray-dark);
      padding-top: $sp-08;
    }
  }
  .btnRed {
    display: none;
  }
  &:hover {
    .title {
      display: none;
    }
    .btnRed {
      display: block;
    }
    .btnPlay {
      display: block;
      &:hover {
        opacity: 0.8;
      }
    }
    .bg-linear {
      display: block;
    }
  }
}
