// Font Sizes
$fs-05: 0.5rem;
$fs-06: 0.6rem;
$fs-08: 0.8rem;
$fs-09: 0.9rem;
$fs-10: 1.0rem;
$fs-13: 1.3rem;

// Color
$clr-trans: rgba(255, 255, 255, 0);
$clr-black: #000;
$clr-white: #fff;
$clr-red: #fb4226;
$clr-green: #00ac4d;
$clr-blue: #337ab7;
$clr-blue-dark: #1f2e46;
$clr-cyan: #60c5ef;
$clr-gray-dark: #4a4a4a;
$clr-gray: #9b9b9b;
$clr-gray-light: #e4e4e4;

// Font Weights
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

// spacing
$sp-none: 0px;
$sp-01: 1px;
$sp-02: 2px;
$sp-03: 3px;
$sp-05: 5px;
$sp-08: 8px;
$sp-13: 13px;
$sp-21: 21px;

// pos
// axis
$x-0: 0;
$y-0: 0;
$x-50: -50%;
$y-50: -50%;