// Prev & Next Chevron

.carousel {
  position: relative;
}

.chevrons {
  .btnPrev {
    position: absolute;
    top: 50%;
    left: 5%;
  }
  .btnNext {
    position: absolute;
    top: 50%;
    right: 5%;
  }
  div > img {
    width: 50px;
    cursor: pointer;
  }
}

[role="tablist"] {
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-bottom: 80px;
  [role="presentation"] {
    display: block;
    margin: 0 10px;
    [role="tab"] {
      width: 10px;
      height: 10px;
      font-size: 0;
      background-color: $clr-white;
      border-radius: 50%;
      border: none;
      outline: none;
      &:focus {
        background-color: $clr-red;
        outline: none;
      }
      &.active {
        background-color: $clr-red;
      }
    }
  }
}
