.navbar-nav {
  .nav-item {
    .navTop {
      font-size: $fs-09;
      color: $clr-black;
      &:hover {
        color: $clr-red;
      }
    }
    /* .dropdown-menu {
      .dropdown-item {
        font-size: $fs-09;
        &:hover {
          background-color: $clr-cyan;
          color: $clr-white;
        }
      }
    } */
    .login{
      border-right: 1px solid $clr-gray-light;
      &:focus{
        outline: none;
      }
    }
  }
}
