.movieLists {
  .movieTabs {
    position: relative;
    left: 0;
    justify-content: center;
    padding-top: 75px;
    border-bottom: none;
  }
  .movieContent{
    .showing, .coming{
      display: flex;
    }
  }
}
