.selectBar {
  .nav-tabs {
    position: absolute;
    margin: 0 auto;
    margin-bottom: -40px;
    border-bottom: none;
    width: max-content;
    border-radius: 5px;
    background-color: $clr-white;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow:20px 20px 50px 10px $clr-gray-light;  

    .borderRight {
      border-right: 1px solid $clr-gray-light;
      margin-right: 20px;
      &:focus {
        border: none;
        border-right: 1px solid $clr-gray-light;
      }
    }
  }
}
